h1::after{
    content: " LETS STUDY!!";
    content: "\1f494";
}
h1::before{
    content: "JAI GLA ";
}
p::first-line{
    text-transform: uppercase;
}
p::first-letter{
    color:#f79eff ;  
    font-size:xx-large;
}
