h1{
    color: red;
    transition-duration: 2s;
    text-align: center;
}

h1:hover{
    /* transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px , 50px); */
    /* transform: rotateX(90deg); */
    /* transform: rotateY(360deg); */

    transform: scale(-3 , -3);
}